#projectTitleContainer{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 20px;
}

#projectTitle{

}

#projectContainer{
    display: flex;
    flex-direction: column;
}

.projectSubBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#projectSubTitle{
    font-size: 40px;
    margin-top: -40px;
}